body {
    margin : 0px;
    padding: 0px;
}

.result {
    width           : 100vw;
    height          : 115vh;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
    background-image: url(/img/Pop-up-Result-Normal.png);
    background-size : cover;
}

.result-frame {
    width           : 55%;
    height          : 78%;
    background-color: white;
    border-radius   : 20px;
}

.result-input {
    width         : 90%;
    height        : 90%;
    display       : flex;
    flex-direction: column;
    align-items   : center;
    margin        : 10% auto;
}

.result-input-title h2 {
    font-size: 40px;
    margin   : auto;
}

.result-input-title {
    width     : 90%;
    text-align: center;
}



.header-title {
    align-items   : center;
    border-bottom : 1px solid #09378C;
    border        : solid #09378C;
    border-radius : 4px;
    border-width  : 1px 1px 4px;
    color         : #09378C;
    display       : inline-block;
    font-family   : 'Anton';
    font-size     : 24px;
    font-weight   : bold;
    padding       : 20px 30px;
    text-transform: uppercase;
}


input {
    width        : 100%;
    height       : 48px;
    font-family  : 'Plus Jakarta Sans';
    font-size    : 16px;
    box-sizing   : border-box;
    padding      : 12px 16px;
    background   : #F7FAFD;
    border       : 1px solid #D2DDF0;
    border-radius: 8px;

}

label {
    display      : inline-block;
    margin-bottom: .5rem;
}

.result-input-title p {
    font-family   : 'Plus Jakarta Sans';
    font-size     : 18px;
    line-height   : 145%;
    letter-spacing: -0.005em;
    color         : #27272E;
}

.btn-explore-more {
    background-color: #09378C;
    color           : #ffffff;
    border-radius   : 8px;
    display         : flex;
    justify-content : center;
    align-items     : center;
    padding         : 20px 15px;
}

.form-input {
    width: 100%;
}